/* Estilos de Estadística */

    /* Partidos */
  
    #matchesTable {
        width: 40%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
  
  #matchesTable th {
      background-color: #251D3A;
      color: #D66519;
      padding: 10px;
  }
  
  #matchesTable td {
    padding: 10px;
    border: 1px solid #251D3A;
    color: #000;
    align-items: center;
  }
  
    /* Posiciones */
  
  #standingsTableContainer {
    margin-left: 2%;
    align-items: center;
    width: 50%;  
    border-collapse: collapse;
    margin-bottom: 50px;
    border: #241c3b;
  }
  
  #standingsTableContainer th {
    width: 100%;
    background-color: #251D3A;
    color: #D66519;
    padding: 5px;
    align-items: center;
  }  
  
  #standingsTableContainer td {
    padding: 10px;
    color: #000;
    align-items: center;
  }
  
  
    /* Goleadores */
  
  
  #scorersTable {
      width: 30%;
      border-collapse: collapse;
      align-items: center;
  }
  
  #scorersTable th {
    background-color: #251D3A;
    color: #D66519;
    padding: 10px;
    align-items: center;
    
  }  
   
  #scorersTable td {
    padding: 10px;
    color: #000;
    align-items: center;
  }
  
  #matchesTable tr:nth-child(even), 
  #standingsTableContainer tr:nth-child(even), 
  #scorersTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    