* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paleta de colores */
:root {
  --color-primary: #251D3A;
  --color-secondary: #D66519;
  --color-background: #F9F7F8;
}

/* Fuentes locales */
@font-face {
  font-family: 'Agrandir Wide';
  src: url('../fonts/agrandir-wide_light.woff2') format('woff2');
}

@font-face {
  font-family: 'Giaza';
  src: url('../fonts/giaza.woff2') format('woff2');
}

@font-face {
  font-family: 'Agrandir Wide Regular';
  src: url('../fonts/agrandir-regular.woff2') format('woff2');
}

/* Estilos generales */
body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
  font-family: 'Raleway', sans-serif;
}

h1,
h2 {
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.6em;
  color: #251D3A;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2em;
  color: #ffffff;
  font-family: Raleway;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}
h5,
h6 {
  font-family: 'Agrandir Wide Regular', sans-serif;
}


/* Estilos para el Header */
header {
  min-height: 15vh;
  background-color: var(--color-primary);
  
  display: flex;
  flex-direction: column;
}

.headerTop{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.logo {
  display: inline-block;
  width: auto;
  height: 5em;
  vertical-align: middle;
}

/* Estilos para el NAV */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  font-family: 'Agrandir Wide', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.nav-links-icons{
  list-style: none;
  display: flex;
  gap: 4vh;
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-background);
}


.nav-links a:hover {
  color: var(--color-secondary);
}

.nav-links li:hover {
  transform: scale(1.1);
}


/* Estilos para el Main */
main {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  
}

main ul {
  margin-left: 1.5em;
}

/* Estilos para el Footer*/
footer {
  min-height: 10vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1em 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

footer p{
  text-align: center;
}

#logoFooter {
  width: 6.5em;
}

.iconSocial {
  display: flex;
  justify-content: center;
  gap: 2.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #333;
  width: 80%;
}

.iconSocial a {
  color: var(--color-background);
}

.iconSocial a svg {
  width: 50px;
}


.showcase {
  width: 100%;
  height: auto;
  background: linear-gradient(#251D3A, rgba(0, 0, 0, 0.1)), url('../images/showcase4.jpeg');
  padding: 50px;    
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
}


.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 10%;
  font-weight: bold;
  padding: 10px 20px;
  background: var(--color-background);
  color: var(--color-primary);
  font-size: 15px;
  border: 1px solid #251D3A;
  margin: 10px 0;
}

.btn:hover{
  background: var(--color-primary);
  color: #ffffff;
  border-color: #ffffff;
}

.showcase h2,
.showcase p, 
.showcase ul 
{
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.news-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin: 1em 2em;
}

.card{
  padding: 1rem;
  width: 260px;
  min-width: 260px;
  height: 425px;
  display: flex;
  flex-direction: column;
}
.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
  cursor: pointer;
}

.card img{
  height: 45%;
}
.card h3{
  height: 7.5%;
}
.card p{
  height: 40%;
}
.card a{
  height: 7.5%;
}

.news-cards img {
  width: 100%;
  height: 50%;
  border-radius: 5%;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.news-cards a {
  padding: 10px 0;
  color: #241c3b;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

.news-cards a:hover {
  text-decoration: underline;
}

.cards-baner-one {
  width: 100%;
  height: 350px;
  background: linear-gradient(#251D3A, #251d3a4b), url('../images/showcase1.webp');
  /* margin-bottom: 40px;*/
  background-size: cover;
  padding: 50px;    
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
}

.cards-baner-one content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #ffffff;
}

.cards-baner-one p,
.cards-baner-one h2 {
  margin: 10px 0 20px 0;
  color:#ffffff;  
}

.btn2 {
  color:#262626;

}


@media only screen and (max-width: 768px){
  .nav-links-icons{
    display: flex;
  }
  .nav-links{
    display: none;
  }
  h2{
    font-size: 3rem;
  }
}

@media only screen and (max-width: 560px){
  .headerTop {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .logo{
    align-self: flex-start;
  }
  h2{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1217px){
  .news-cards {
    gap: 2em;
    margin: 1em 2em;
  }
  .card{
    width: 350px;
    min-width: 260px;
    height: 380px;
  }
}
